.technology-img {
  width: 24px;
  height: 24px;
  padding: 2px;
  border-radius: 10px;
}

/* .container-card-technology{
    display: flex;
    padding: 1px;
    width: 200px;
    justify-content: space-around;
} */

.card-technology {
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex-wrap: wrap; */
  gap: 2px;
  width: 115px;
  height: 35px;
  padding: 5px;
  border-radius: 30px;
  border: 3px solid #8665a3;
}

.description-technology {
  font-size: 14px;
  font-weight: 500;
  /* letter-spacing: 1px; */
  text-align: center;
}
